/*
 * Default styling for the whole program
 */


body {
    margin: 5px;
    padding 0px;
    font-family: verdana,helvetica,arial,sans-serif;
}

h1, h2, h3, h4, h5 {
    font-style: normal;
    font-weight: 400;
    color: #088A08;
    margin: 0px;
}

.page_heading {
    float: left;
}

.page_title {
    font-style: normal;
    font-weight: 400;
    color: #088A08;
    margin: 10px;
}

.page_text {
    margin: 10px;
}

.navigation {
    float: left;
    margin: 10px 0px 0px 30px;
    list-style: none;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline overline;
}

.navigation li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

table {
    border-collapse: collapse;
    margin: 0px 10px;
}

table td, table th {
    border: 1px solid #8ba930;
    padding: 3px 7px 2px;
}

table th {
    background-color: #A7C942;
    color: #FFFFFF;
    font-size: 11px;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}

table th a {
    color: #412341;
}

table td {
    font-size: 10px;
}

table tr.row_b td {
    background-color: #EAF2D3;
    color: #000000;
}

.heading th {
    background-color: #91af32;
    font-size: 14px;
    padding-left: 3px;
}

.heading a {
    color: #FFFFFF;
}

.collective th {
    background-color: #97b834;
    font-size: 13px;
    padding-left: 3px;
}

.subtype th {
    background-color: #a2c439;
    font-size: 12px;
    padding-left: 15px;
}

.type th {
    padding-left: 30px;
}

.block_header {
    overflow: hidden;
    padding: 10px;
    margin: 1px;
}

/*
 * Styles for the Home page
 */

.block_half {
    float: left;
    width: 50%;
}

.block {
    margin: 1px;
}

.block_inner {
    float: left;
}

.block_heading {
    padding: 5px;
    margin: -1px;
}

.block h2 {
    font-weight: 400;
    color: #088A08;
}

.block h3 {
    font-weight: 400;
    color: #088A08;
}

.block_content {
    padding: 5px;
}


/*
 * Styles for the type details
 */

.type_details_heading h2, h3, h4, h5 {
    margin: 10px;
}


/*
 * Styles for the DBMS configuration
 */

#test_results {
    display: inline-block;
    height: 24px;
    min-width: 24px;
    text-align: center;
    padding: 0;
    margin: 5px 0;
}

.loading {
    background-image: url('/static/img/loader24.gif');
}


/*
 * Styles for the type copy dialog
 */

#copy_dialog label {
    font-weight: bold;
}
