
body {
    font-family: verdana,helvetica,arial,sans-serif;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #8ba930;
    padding: 3px 7px 2px;
}

table th {
    background-color: #A7C942;
    color: #FFFFFF;
    font-size: 11px;
    padding-bottom: 4px;
    padding-top: 5px;
    padding-left: 30px;
    text-align: left;
}

table th a {
    color: #412341;
}

table td {
    font-size: 10px;
}

table tr.row_b td {
    background-color: #EAF2D3;
    color: #000000;
}

.heading th {
    background-color: #91af32;
    font-size: 14px;
    padding-left: 3px;
}

.heading a {
    color: #FFFFFF;
}

.collective th {
    background-color: #97b834;
    font-size: 13px;
    padding-left: 3px;
}

.subtype th {
    background-color: #a2c439;
    font-size: 12px;
    padding-left: 15px;
}
