<html>
<head>
    <title>CompareRDBMS - Compare Driver Type Details</title>
    <link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<body>

<h1>CompareRDBMS</h1>
<h2>Driver Type Details</h2>

<!-- tmpl_loop name=collective_row -->
<h2><!-- tmpl_var name=collective_label --></h2>
    <!-- tmpl_loop name=subtype_row -->
<h3><!-- tmpl_var name=subtype_label --></h3>
        <!-- tmpl_loop name=type_row -->
<h4><!-- tmpl_var name=type_name --> (<!-- tmpl_var name=type_code -->)</h4>
        <!-- tmpl_if name=has_match -->
<table>
    <thead>
        <tr>
            <th>Detail</th>
            <!-- tmpl_loop name=db_row -->
            <th colspan="<!-- tmpl_var name=colspan -->"><!-- tmpl_var name=label --></th>
            <!-- /tmpl_loop -->
        </tr>
    </thead>
    <tbody>
        <!-- tmpl_loop name=detail_row -->
        <tr class="<!-- tmpl_var name=class -->">
            <th><!-- tmpl_var name=name --></a></th>
            <!-- tmpl_loop name=detail_list -->
            <td><!-- tmpl_var name=value --></td>
            <!-- /tmpl_loop -->
        </tr>
        <!-- /tmpl_loop -->
    </tbody>
</table>
        <!-- tmpl_else -->
<p>This type is not supported by any of selected RDBMSs</p>
        <!-- /tmpl_if -->
        <!-- /tmpl_loop -->
    <!-- /tmpl_loop -->
<!-- /tmpl_loop -->

<p>Please return to the <a href="compare.cgi">Home Page</a></p>

</body>
</html>
