<html>
<head>
    <title>CompareRDBMS - Recognised Types</title>
    <link rel="stylesheet" type="text/css" href="static/css/default.css">
    <script src="/static/js/jquery-1.9.0.js"></script>
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>

<h1>CompareRDBMS</h1>
<h2>Recognised Types</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <!-- tmpl_loop name=type_list -->
        <tr>
            <td><!-- tmpl_var name=name --></td>
            <td><!-- tmpl_var name=code --></td>
        </tr>
        <!-- /tmpl_loop -->
    </tbody>
</table>
<p>Please return to the <a href="compare.cgi">Home Page</a></p>

</body>
</html>
