<!DOCTYPE html>
<html>
<head>
    <title>CompareRDBMS - Profile Settings</title>
    <!-- TMPL_INCLUDE NAME="head.html" -->
</head>
<body>

<!-- TMPL_INCLUDE NAME="head_nav.html" -->

<h2 class="page_title">Settings for profile <!-- tmpl_var name=label --></h2>
<form method="post" id="config_form">
    <input type="hidden" name="rm" value="profile_save"/></td>
    <input type="hidden" name="old_uid" value="<!-- tmpl_var name=uid -->"/>
    <table>
        <tr>
            <th><label for="uid">ID</label></th>
            <td><input name="uid" id="uid" type="text" value="<!-- tmpl_var name=uid -->"/></td>
        </tr>
        <tr>
            <th><label for="label">Label</label></th>
            <td><input name="label" id="label" type="text" value="<!-- tmpl_var name=label -->"/></td>
        </tr>
        <tr>
            <th><label for="rdbms">RDBMS</label></th>
            <td><input name="rdbms" id="rdbms" type="text" value="<!-- tmpl_var name=rdbms -->"/></td>
        </tr>
        <tr>
            <th><label for="version">Version</label></th>
            <td><input name="version" id="version" type="text" value="<!-- tmpl_var name=version -->"/></td>
        </tr>
        <tr>
            <th><label for="driver">Drivers</label>:</th>
            <td>
            <!-- tmpl_loop driver_list -->
                <input name="driver" id="driver" type="checkbox" value="<!-- tmpl_var name=driver -->" <!-- tmpl_var name=checked -->/> <!-- tmpl_var name=driver --><br/>
            <!-- /tmpl_loop -->
            </td>
        </tr>
        <tr>
            <th><label for="save">Save</label></th>
            <td><input type="submit" id="save" value="Save"/></td>
        </tr>
    </table>
</form>

</body>
</html>
